# IDE folders
.idea
.vscode

# Caches
.mypy_cache
.pytest_cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
wheelhouse/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# src/zint/.gitignore
# Because of issue 726 in scikit-build-core, this project can't have nested gitignore files.
# See https://github.com/scikit-build/scikit-build-core/issues/726

# "bundled" vcpkg which is downloaded by git
src/zint/.vcpkg
src/zint/vcpkg_installed

src/zint/CMakeUserPresets.json
